<div class="contenedor">
    <div class="columna" #mapElement style="height: 400px; width:600px;"></div>
    <div class="columna">
    <p>
        En El Peñón, nos dedicamos a brindar experiencias gastronómicas excepcionales desde 1987. Nuestro enfoque en ingredientes frescos, técnicas culinarias innovadoras y hospitalidad excepcional nos ha convertido en un destino gastronómico de confianza en 2024.</p>
        
        <p>Gracias a nuestra pasión por la cocina y el servicio, cada visita a El Peñón es una oportunidad para disfrutar de sabores auténticos en un ambiente acogedor y elegante. Esperamos darle la bienvenida y hacer que su experiencia con nosotros sea inolvidable.</p>
        
        <p>¡Gracias por ser parte de nuestra historia culinaria!</p>
    </div>
</div>
<br><br>
<a href="https://www.google.com/maps/dir/Current+Location/C.+Joaquín+Blume,+2,+18200+Maracena,+Granada" class="boton">Cómo llegar</a>
