.wrap-hero-home-page{
    color: #fff;
    text-align: center;
    width: 50%;
  }

  .wrap-hero-home-page p{
    margin-bottom: 2rem;
  }
  

  @media (max-width:768px){
    .wrap-hero-home-page{
      width: 100%;
      padding: 1rem;
    }
  }

  .hero-home-page{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
