.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 10px;
    background-color: rgb(88, 45, 25);
    padding: 10px;
  }
  
  .image {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  