<div class="container">
    <h1>Política de Privacidad</h1>
    
    <p>En <strong>El peñón</strong>, nos comprometemos a proteger y respetar tu privacidad. Esta política describe cómo recopilamos, utilizamos y protegemos la información personal que nos proporcionas al utilizar nuestro sitio web y nuestros servicios de reserva de restaurantes.</p>

    <h2>Información que recopilamos:</h2>

    <ul>
        <li>Nombre</li>
        <li>Dirección de correo electrónico</li>
        <li>Número de teléfono</li>
        <li>Fecha y hora de la reserva</li>
        <li>Número de comensales</li>
        <li>Cualquier solicitud especial o preferencia</li>
    </ul>

    <h2>Cómo utilizamos tu información:</h2>

    <p>Utilizamos la información recopilada para los siguientes propósitos:</p>

    <ul>
        <li>Procesar y confirmar tu reserva de restaurante.</li>
        <li>Comunicarnos contigo en relación con tu reserva, como confirmaciones, recordatorios y actualizaciones.</li>
        <li>Proporcionarte un servicio de atención al cliente eficaz.</li>
        <li>Mejorar nuestros servicios y personalizar tu experiencia de reserva.</li>
    </ul>

    <p><strong>Protección de tu información:</strong></p>

<p>Nos comprometemos a proteger la seguridad de tu información personal. Utilizamos medidas de seguridad físicas, electrónicas y administrativas para proteger y asegurar la información que recopilamos en línea.</p>

<p><strong>Divulgación de información:</strong></p>

<p>No compartiremos tu información personal con terceros sin tu consentimiento, excepto cuando sea necesario para cumplir con una obligación legal o para proteger nuestros derechos, propiedad o seguridad, o los de nuestros usuarios u otros.</p>

<p><strong>Derechos de acceso, rectificación y cancelación:</strong></p>

<p>Tienes derecho a acceder, rectificar o cancelar tus datos personales en cualquier momento. Si deseas ejercer alguno de estos derechos, contáctanos a través de la información de contacto proporcionada al final de esta política.</p>

<p><strong>Consentimiento:</strong></p>

<p>Al utilizar nuestro sitio web y nuestros servicios de reserva, aceptas el procesamiento de tu información personal de acuerdo con esta política de privacidad.</p>

<p><strong>Cambios en la política de privacidad:</strong></p>

<p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Te recomendamos que revises periódicamente esta página para estar informado sobre cualquier cambio.</p>

</div>