<section class="wrap-section">
    <div class="wrap-title-section">
      <h2>Menús de Restaurante</h2>
    </div>
    <div class="column-3 columns">
      <div class="menu-restaurante">
        <h3>Menú mediodia</h3>
        <hr>
        <h4>Primer Plato</h4>
        <p>Lentejas</p>
        <br>
        <h4>Segundo Plato</h4>
        <p>Ensalada</p>
        <br>
        <p class="precio-menu">Precio: <span >17€</span></p>
        </div>
      <div class="menu-restaurante">
        <h3>Menú noche</h3>
        <hr>
        <h4>Primer Plato</h4>
        <p>Gazpacho</p>
        <br>
        <h4>Segundo Plato</h4>
        <p>Puchero</p>
        <br>
        <p class="precio-menu">Precio: <span >19€</span></p>
        </div>
      <div class="menu-restaurante">
        <h3>Menú fin de semana</h3>
        <hr>
        <h4>Primer Plato</h4>
        <p>Albondigas</p>
        <br>
        <h4>Segundo Plato</h4>
        <p>Secreto ibérico</p>
        <br>
        <p class="precio-menu">Precio: <span >21€</span></p>
      </div>
    </div>
</section>